<div class="main-content">
	<div class="page-content" nv-file-drop="" uploader="uploader"
		filters="queueLimit, customFilter">
		<div class="page-header">
				<h1>
					Servicios <small> <i
						class="ace-icon fa fa-angle-double-right"></i> Crear Alojamiento
					</small>
				</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<form class="form-horizontal" role="form" name="fService" novalidate
					ng-submit="guardarAlimentacion(fService)" ng-hide="saving">
					<!-- #section:elements.form -->
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-1"> Nombre </label>

						<div class="col-sm-9">
							<input type="text" id="form-field-1"
								placeholder="Nombre del servicio" class="col-xs-10 col-sm-5"
								ng-model="alimentacion.servicio.nombre" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-2">Descripcion</label>

						<div class="col-sm-9">
							<textarea id="form-field-2"
								class="autosize-transition form-control"
								ng-model="alimentacion.servicio.descripcionCorta"></textarea>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-1"> Ciudad </label>

						<div class="col-sm-9">
							<input type="text" id="form-field-1" placeholder="Bogota"
								class="col-xs-10 col-sm-5" ng-model="alimentacion.ciudad" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="timepicker">Horario Apertura</label>
						<div class="col-sm-9 bootstrap-timepicker">
							<input id="timepicker" type="text" class="col-xs-10 col-sm-5"
								ng-model="alimentacion.horarioApertura" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="timepicker">Horario Cierre</label>
						<div class="col-sm-9 bootstrap-timepicker">
							<input id="timepicker2" type="text" class="col-xs-10 col-sm-5"
								ng-model="alimentacion.horarioCierre" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-1"> Precio Minimo </label>

						<div class="col-sm-9">
							<input type="text" id="form-field-1" placeholder="1000"
								class="col-xs-10 col-sm-5" ng-model="alimentacion.precioMenor" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-1"> Precio Maximo </label>

						<div class="col-sm-9">
							<input type="text" id="form-field-1" placeholder="25000"
								class="col-xs-10 col-sm-5" ng-model="alimentacion.precioMayor" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-1"> Valor de la reserva </label>

						<div class="col-sm-9">
							<input type="text" id="form-field-1" placeholder="50000"
								class="col-xs-10 col-sm-5"
								ng-model="alimentacion.servicio.precio" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-3">Caracteristicas</label>
						<div class="col-sm-4">
							<!-- #section:custom/checkbox -->
							<div class="checkbox"
								ng-repeat="caracteristica in caracteristicas">
								<label for="{{caracteristica}}"> <input
									name="form-field-checkbox" type="checkbox" class="ace"
									ng-model="selection[caracteristica]" id="{{caracteristica}}" />
									<span class="lbl">{{caracteristica}}</span>
								</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-2">Restricciones</label>

						<div class="col-sm-9">
							<textarea id="form-field-2"
								class="autosize-transition form-control"
								ng-model="alimentacion.servicio.restricciones"></textarea>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-2">Activo</label>
						<div class="col-sm-4">
							<input name="form-field-checkbox" type="checkbox" class="ace"
								ng-model="alojamiento.servicio.activo" /> <span class="lbl"></span>
							<!-- 											<input name="form-field-radio" type="radio" class="ace" ng-model="alojamiento.servicio.activo" /> -->
							<!-- 											<span class="lbl"></span> -->
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="form-field-2"></label>
						<div class="col-sm-9">
							<h3>Select files</h3>
							<!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
							<input type="file" nv-file-select="" uploader="uploader" multiple /><br />
							<table class="table">
								<thead>
									<tr>
										<th>Name</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in uploader.queue">
										<td><strong>{{ item.file.name }}</strong>
											<div ng-show="uploader.isHTML5"
												ng-thumb="{ file: item._file, height: 100 }"></div></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i> Submit
							</button>

							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="button">
								<i class="ace-icon fa fa-undo bigger-110"></i> Reset
							</button>
						</div>
					</div>

					<hr />

				</form>

				<div class="hr hr-18 dotted hr-double"></div>

				<div class="hr hr-18 dotted hr-double"></div>
			</div>
		</div>
	</div>
	<!-- PAGE CONTENT ENDS -->
</div>
