<div class="main-container ace-save-state" id="main-container">
	<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
	</script>
	<div id="sidebar" class="sidebar responsive ace-save-state">
		<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
		</script>
		<ul class="nav nav-list" ng-if="isUserLoggedIn">
			<li class="active open">
				<a href="#" class="dropdown-toggle">
					<i class="menu-icon fa fa-list"></i> <span class="menu-text">Servicios</span> 
					<b class="arrow fa fa-angle-down"></b>
				</a><b class="arrow"></b>
				<ul class="submenu">
					<li class="">
						<a ui-sref="consultar"> <i class="menu-icon fa fa-caret-right"></i> Consultar </a> <b class="arrow"></b>
					</li>
					<li class="">
						<a ui-sref="alojamiento"> <i class="menu-icon fa fa-caret-right"></i> Crear Alojamiento </a> <b class="arrow"></b>
					</li>
					<li class="">
						<a ui-sref="alimentacion"> <i class="menu-icon fa fa-caret-right"></i> Crear Alimentación </a> <b class="arrow"></b>
					</li>
					<li class="">
						<a ui-sref="transporte"> <i class="menu-icon fa fa-caret-right"></i> Crear Transporte </a> <b class="arrow"></b>
					</li>
					<li class="">
						<a ui-sref="turismo"> <i class="menu-icon fa fa-caret-right"></i> Crear Paseo Ecológico </a> <b class="arrow"></b>
					</li>
				</ul>
			</li>
			<li class="active open">
				<a href="#" class="dropdown-toggle"><i class="menu-icon fa fa-list"></i> <span class="menu-text">Paquetes </span> 
					<b class="arrow fa fa-angle-down"></b>
				</a> <b class="arrow"></b>
				<ul class="submenu">
						<li class="">
							<a ui-sref="consultarpaquete"> <i class="menu-icon fa fa-caret-right"></i> Consultar
							</a> <b class="arrow"></b>
						</li>
						<li class="">
							<a ui-sref="paquete"> <i class="menu-icon fa fa-caret-right"></i> Crear
							</a> <b class="arrow"></b>
						</li>
						<li class="">
							<a ui-sref="activarpaquete"> <i class="menu-icon fa fa-caret-right"></i> Activar
							</a> <b class="arrow"></b>
						</li>
						<li class="">
							<a ui-sref="actualizarpaquete"> <i class="menu-icon fa fa-caret-right"></i> Actualizar
							</a> <b class="arrow"></b>
						</li>
						<li class="">
							<a ui-sref="eliminarpaquete"> <i class="menu-icon fa fa-caret-right"></i> Eliminar
							</a> <b class="arrow"></b>
						</li>
				</ul>
			</li>
			<li class="active open">
				<a href="#" class="dropdown-toggle"><i class="menu-icon fa fa-list"></i> <span class="menu-text">Preguntas </span> 
					<b class="arrow fa fa-angle-down"></b>
				</a> <b class="arrow"></b>
				<ul class="submenu">
						<li class="">
							<a ui-sref="pregunta"> <i class="menu-icon fa fa-caret-right"></i> Consultar
							</a> <b class="arrow"></b>
						</li>
				</ul>
			</li>
			<li  class="active open">
				<a href="#" class="dropdown-toggle"><i class="menu-icon fa fa-list"></i> <span class="menu-text">Reportes </span> 
					<b class="arrow fa fa-angle-down"></b>
				</a> <b class="arrow"></b>
				<ul class="submenu">
						<li class="">
							<a ui-sref="busqueda"> <i class="menu-icon fa fa-caret-right"></i> Generar
							</a> <b class="arrow"></b>
						</li>
				</ul>
			</li>
						<li  class="active open">
				<a href="#" class="dropdown-toggle"><i class="menu-icon fa fa-list"></i> <span class="menu-text">Mensajes </span> 
					<b class="arrow fa fa-angle-down"></b>
				</a> <b class="arrow"></b>
				<ul class="submenu">
						<li  class="">
							<a ui-sref="mensajes"> <i class="menu-icon fa fa-caret-right"></i> Generar
							</a> <b class="arrow"></b>
						</li>
				</ul>
			</li>
		</ul>
	</div>
</div>	