    <div class="container main-container">
        <div class="row">

        	<div class="clearfix visible-sm"></div>

			<!-- Blog Detail -->
        	<div class="col-lg-9 col-md-9 col-sm-12">
        		<div class="col-lg-12 col-sm-12">
            		<span class="title">Lorem ipsum dolor sit amet consectetur</span>
            	</div>
                <div class="col-lg-12 col-sm-12 hero-feature blog-detail">
    	            <div class="blog-info">
                        <i class="fa fa-clock-o"></i> Oct 27, 15
                        <i class="fa fa-user"></i> <a href="blog.html">Admin</a>
                        <i class="fa fa-flag"></i> <a href="blog.html">Tags</a>
                    </div>
                    <div class="thumbnail">
                        <img src="../images/blog-detail.jpg" alt="">
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
            </div>
        	<!-- End Blog Detail -->

        	<div class="col-lg-3 col-md-3 col-sm-12">

				<!-- Categories & Archives -->
				<span class="title">CATEGORIES</span>
				<ul class="list-group">
		            <li class="list-group-item blog-list-group-item">&raquo; <a href="blog.html">News</a></li>
		            <li class="list-group-item blog-list-group-item">&raquo; <a href="blog.html">Events</a></li>
		            <li class="list-group-item blog-list-group-item">&raquo; <a href="blog.html">Promotions</a></li>
		        </ul>
	            <span class="title">
	                ARCHIVES
	            </span>
	            <ul class="list-group">
	                <li class="list-group-item blog-list-group-item">&raquo; <a href="blog.html">October 2015</a></li>
	                <li class="list-group-item blog-list-group-item">&raquo; <a href="blog.html">September 2015</a></li>
	                <li class="list-group-item blog-list-group-item">&raquo; <a href="blog.html">August 2015</a></li>
	                <li class="list-group-item blog-list-group-item">&raquo; <a href="blog.html">July 2015</a></li>
	                <li class="list-group-item blog-list-group-item">&raquo; <a href="blog.html">June 2015</a></li>
	            </ul>
				<!-- End Categories & Archives -->

        	</div>


        </div>
	</div>