    <div class="container main-container">
        <div class="row">

        	<div class="clearfix visible-sm"></div>

			<!-- Blog -->
        	<div class="col-lg-9 col-md-9 col-sm-12">
        		<div class="col-lg-12 col-sm-12">
            		<span class="title">LATEST BLOG</span>
            	</div>
	            <div class="col-lg-12 col-sm-12 hero-feature">
                    <div class="row">
                    	<div class="col-xs-12 blog-list">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
								<div class="row">
									<a href="blog-detail.html" class="thumbnail"><img src="../images/blog1.jpg" alt=""></a>
								</div>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
								<h4><a href="blog-detail.html">Lorem ipsum dolor sit amet consectetur</a></h4>
								<div class="blog-info">
		                            <i class="fa fa-clock-o"></i> Oct 27, 15
		                            <i class="fa fa-user"></i> <a href="blog.html">Admin</a>
		                            <i class="fa fa-flag"></i> <a href="blog.html">Tags</a>
		                        </div>
		                        <p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, nobis voluptatem minus esse similique ullam natus at amet odit ipsam...
									<a href="blog-detail.html">Read More</a>
								</p>
							</div>
						</div>
						<div class="col-xs-12 blog-list">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
								<div class="row">
									<a href="blog-detail.html" class="thumbnail"><img src="../images/blog2.jpg" alt=""></a>
								</div>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
								<h4><a href="blog-detail.html">Lorem ipsum dolor sit amet consectetur</a></h4>
								<div class="blog-info">
		                            <i class="fa fa-clock-o"></i> Oct 27, 15
		                            <i class="fa fa-user"></i> <a href="blog.html">Admin</a>
		                            <i class="fa fa-flag"></i> <a href="blog.html">Tags</a>
		                        </div>
		                        <p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, nobis voluptatem minus esse similique ullam natus at amet odit ipsam...
									<a href="blog-detail.html">Read More</a>
								</p>
							</div>
						</div>
						<div class="col-xs-12 blog-list">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
								<div class="row">
									<a href="blog-detail.html" class="thumbnail"><img src="../images/blog3.jpg" alt=""></a>
								</div>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
								<h4><a href="blog-detail.html">Lorem ipsum dolor sit amet consectetur</a></h4>
								<div class="blog-info">
		                            <i class="fa fa-clock-o"></i> Oct 27, 15
		                            <i class="fa fa-user"></i> <a href="blog.html">Admin</a>
		                            <i class="fa fa-flag"></i> <a href="blog.html">Tags</a>
		                        </div>
		                        <p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, nobis voluptatem minus esse similique ullam natus at amet odit ipsam...
									<a href="blog-detail.html">Read More</a>
								</p>
							</div>
						</div>
                    </div>
                    <div class="text-center">
			        	<ul class="pagination catalogue-pagination">
							<li class="disabled"><a>First</a></li>
							<li class="disabled"><a>Prev</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">Next</a></li>
							<li><a href="#">Last</a></li>
						</ul>
					</div>

	            </div>
        	</div>
        	<!-- End Blog -->

        	<div class="col-lg-3 col-md-3 col-sm-12">

				<!-- Categories & Archives -->
				<span class="title">CATEGORIES</span>
				<ul class="list-group">
		            <li class="list-group-item blog-list-group-item">&raquo; <a href="blog.html">News</a></li>
		            <li class="list-group-item blog-list-group-item">&raquo; <a href="blog.html">Events</a></li>
		            <li class="list-group-item blog-list-group-item">&raquo; <a href="blog.html">Promotions</a></li>
		        </ul>
	            <span class="title">
	                ARCHIVES
	            </span>
	            <ul class="list-group">
	                <li class="list-group-item blog-list-group-item">&raquo; <a href="blog.html">October 2015</a></li>
	                <li class="list-group-item blog-list-group-item">&raquo; <a href="blog.html">September 2015</a></li>
	                <li class="list-group-item blog-list-group-item">&raquo; <a href="blog.html">August 2015</a></li>
	                <li class="list-group-item blog-list-group-item">&raquo; <a href="blog.html">July 2015</a></li>
	                <li class="list-group-item blog-list-group-item">&raquo; <a href="blog.html">June 2015</a></li>
	            </ul>
				<!-- End Categories & Archives -->

        	</div>


        </div>
	</div>