   <div ng-controller="CatalogueCtrl" class="container main-container" >
       <div class="row">
       	<!-- Inicio Filtros busqueda -->
       	<div class="col-lg-3 col-md-3 col-sm-12">
       		<!-- Categories -->
       		<div class="col-lg-12 col-md-12 col-sm-6">
        		<div class="no-padding">
            		<span style="text-transform:uppercase;" class="title">CATEGOR&iacute;AS</span>
            	</div>
				<div id="main_menu" style="border-bottom:1px solid #ddd;">
	               <div class="checkbox" ng-repeat="categorie in categories" style="border-top:1px solid #ddd; border-left:1px solid #ddd; border-right:1px solid #ddd; background-color:#f5f5f5; padding:10px; margin:0px;">
	                	<label>
							<input type="checkbox" value="{{categorie.key}}"> {{categorie.value}}	                        		
						</label>
					</div>
				</div>
			</div>
			
			<div class="col-lg-12 col-md-12 col-sm-6" style="padding-top:30px;">
        		<div class="no-padding">
            		<span class="title">PRECIO</span>
            	</div>
				<div id="main_menu" style="border-bottom:1px solid #ddd;">
                    <div class="checkbox" ng-repeat="price in prices" style="border-top:1px solid #ddd; border-left:1px solid #ddd; border-right:1px solid #ddd; background-color:#f5f5f5; padding:10px; margin:0px;">
                    	<label>
							<input type="checkbox"> Entre {{price.low}} y {{price.high}}	                        		
						</label>
                    </div>
                </div>
			</div>
			
			<div class="col-lg-12 col-md-12 col-sm-6" style="padding-top:30px;">
        		<div class="no-padding">
            		<span style="text-transform:uppercase;" class="title">DESCRIPCI&oacuteN</span>
            	</div>
				<div id="main_menu" style="border-bottom:1px solid #ddd;">
                       <!-- Search Form -->
	            	<div class="well">
	                    <form action="">
	                        <div class="input-group">
	                            <input type="text" class="form-control input-search" placeholder="Enter something to search"/>
	                            <span class="input-group-btn">
	                                <button class="btn btn-default no-border-left" type="submit"><i class="fa fa-search"></i></button>
	                            </span>
	                        </div>
	                    </form>
	                </div>
	            <!-- End Search Form -->
                </div>
			</div>
			<!-- Final Filtros busqueda -->
       	</div>
       	
       	<div class="clearfix visible-sm"></div>

		<!-- Catalogue -->
       	<div class="col-lg-9 col-md-9 col-sm-12">
       		<div class="col-lg-12 col-sm-12">
           		<span class="title">PRODUCTOS</span>
           	</div>
           	<div style="float:left;">
	            <div ng-repeat="product in products" class="col-lg-4 col-sm-4 hero-feature text-center">
	                <div class="thumbnail">
	                	<a ui-sref="detail({serviceId: product.id, categoryId: product.idCategoria})" class="link-p">
	                    	<img src="../app/images/hotel_1.jpg" alt="">
	                	</a>
	                    <div class="caption prod-caption">
	                        <h4><a ui-sref="detail({serviceId: product.id, categoryId: product.idCategoria})">{{product.nombre}}</a></h4>
	                        <p>{{product.descripcionCorta}}</p>
	                        <p>
	                        	<div class="btn-group">
		                        	<a href="#" class="btn btn-default">$ {{product.precio}}</a>
		                        	<a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Comprar</a>
	                        	</div>
	                        </p>
	                    </div>
	                </div>
	            </div>
            </div>
            <!-- 
			<div class="text-center">
	        	<ul class="pagination catalogue-pagination">
					<li class="disabled"><a>First</a></li>
					<li class="disabled"><a>Prev</a></li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">Next</a></li>
					<li><a href="#">Last</a></li>
				</ul>
			</div>
			 -->
       	</div>
       	<!-- End Catalogue -->
       </div>
</div>
