    <div class="container main-container">
        <div class="row">

        	<div class="clearfix visible-sm"></div>

			<!-- Product Detail -->
        	<div class="col-lg-12 col-md-12 col-sm-6">
        		<div class="col-lg-12 col-sm-12">
            		<span class="title">{{product.servicio.nombre}}</span>
            	</div>
	            <div class="col-lg-12 col-sm-12 hero-feature">

	            	<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-8">
			            	<!-- Main Image -->
							<div class="product-main-image-container">
								<!--img src="../app/images/hotel1.jpg" alt="" class="product-loader"-->
								<span class="thumbnail product-main-image">
									<img src="../app/images/hotel_4.jpg" alt="">
								</span>
							</div>
							<!-- End Main Image -->

							<!-- Thumbnail Image -->
							<div class="col-xs-3 product-thumb-image">
								<a href="images/detail1.jpg" class="thumbnail">
									<img src="../app/images/hotel_1.jpg" alt="">
								</a>
							</div>
							<div class="col-xs-3 product-thumb-image">
								<a href="images/detail2.jpg" class="thumbnail">
									<img src="../app/images/hotel_2.jpg" alt="">
								</a>
							</div>
							<div class="col-xs-3 product-thumb-image">
								<a href="images/detail3.jpg" class="thumbnail">
									<img src="../app/images/hotel_3.jpg" alt="">
								</a>
							</div>
							<div class="col-xs-3 product-thumb-image">
								<a href="images/detail1.jpg" class="thumbnail">
									<img src="../app/images/hotel_4.jpg" alt="">
								</a>
							</div>
							<!-- End Thumbnail Image -->
						</div>

						<div class="visible-xs">
							<div class="clearfix"></div>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-4">
							<div class="well product-short-detail">
								<div class="row">
									<div class="the-list">
										<h3 class="col-xs-12">{{product.servicio.precio | currency}}</h3>
									</div>
									<div class="the-list">
										<h3 class="col-xs-12 product-code">Código : {{product.servicio.id}}</h3>
									</div>
									<div class="the-list">
										<p style="padding:0 5px 0 15px">{{product.servicio.descripcionCorta}}</p>
									</div>
									<div class="product-rating" style="padding-left: 15px">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
									</div>
									<div class="clearfix"></div>
									<hr/>
									<div class="col-xs-12 text-center">
										<a class="btn btn-default"><i class="fa fa-heart"></i> Agregar</a></span>
										<span ng-show="!inCart()"><a class="btn btn-primary" ng-click="ngCart.addItem(product.servicio.id.toString(), product.servicio.nombre, product.servicio.precio, 1, null)"><i class="fa fa-shopping-cart"></i> Agregar</a></span>
										<span ng-show="inCart()"><a class="btn btn-danger" ng-click="ngCart.removeItemById(product.servicio.id.toString())"><i class="fa fa-remove"></i> Remover</a></span>
									</div>
									<div class="clearfix"></div><br/>
								</div>
							</div>
						</div>

						<div class="clearfix"></div><br clear="all"/>

						<div class="col-xs-12 product-detail-tab">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs">
								<li class="active"><a href="#desc" data-toggle="tab">Descripci&oacute;n</a></li>
								<li><a href="#detail" data-toggle="tab">Detalle</a></li>
								<li><a href="#review" data-toggle="tab">Calificaci&oacute;n</a></li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane active" id="desc">
									<div class="well">
										<p>{{product.servicio.descripcionCorta}}</p>
									</div>
								</div>
								<div class="tab-pane" id="detail">
									<div class="well">
										<table class="table table-bordered">
											<tbody>
												<tr>
													<td width="40%">Caracteristica 1</td>
													<td>Si</td>
												</tr>
												<tr>
													<td>Caracteristica 2</td>
													<td>No</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="tab-pane" id="review">
									<div class="well">
										<div class="media">
											<a class="pull-left" href="#">
												<img class="media-object" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+">
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-half-o"></i>
												</div>
											</a>
											<div class="media-body">
												<h5 class="media-heading"><strong>John Thor</strong></h5>
												Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
											</div>
										</div>
										<div class="media">
											<a class="pull-left" href="#">
												<img class="media-object" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+">
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-half-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
											</a>
											<div class="media-body">
												<h5 class="media-heading"><strong>Michael</strong></h5>
												Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
											</div>
										</div>
										<hr/>
		                                <h4>Add your review</h4>
		                                <p></p>
		                                <form role="form">
		                                    <div class="form-group">
		                                        <input type="text" class="form-control" placeholder="Name">
		                                    </div>
		                                    <div class="form-group">
		                                        <input type="text" class="form-control" placeholder="Email">
		                                    </div>
		                                    <div class="form-group">
		                                        <select class="form-control">
		                                            <option>1 star</option>
		                                            <option>2 stars</option>
		                                            <option>3 stars</option>
		                                            <option>4 stars</option>
		                                            <option>5 stars</option>
		                                        </select>
		                                    </div>
		                                    <div class="form-group">
		                                        <textarea class="form-control" rows="5" placeholder="Your Review"></textarea>
		                                    </div>
		                                    <button type="submit" class="btn btn-default">Submit Review</button>
		                                </form>
									</div>
								</div>
							</div>
						</div>
					</div>
	            </div>
	            <div class="clearfix"></div>
        	</div>
        	<!-- End Product Detail -->
        </div>
	</div>