    <div class="container main-container">
        <div class="row">

        	<div class="clearfix visible-sm"></div>

			<!-- FAQ -->
        	<div class="col-lg-12 col-md-12 col-sm-12">
        		<div class="col-lg-12 col-sm-12">
            		<span class="title">PREGUNTAS FRECUENTES</span>
            	</div>
	            <div class="col-lg-12 col-sm-12 hero-feature">
                    <div class="row">
                    	<div class="col-xs-12 blog-list">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<h4><a href="blog-detail.html"><i class="fa fa-check-square-o"></i> ¿Cómo me registro en Viagging?</a></h4>
		                        <p>
									Registrarse es muy fácil, solo hay que ingresar al módulo 'Registro' ubicado en la parte superior y diligenciar la informaci&oacuten solicitada.
									<!--<a href="blog-detail.html">Read More</a> -->
								</p>
							</div>
						</div>
						<div class="col-xs-12 blog-list">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<h4><a href="blog-detail.html"><i class="fa fa-check-square-o"></i> ¿Cómo actualizo mis datos?</a></h4>
		                        <p>
									Para actualizar los datos debe ingresar por 'Login'. Debe digitar su usuario y clave. Luego, en el menú principal encontrará su nombre con una lista desplegable, allí debe seleccionar 'Perfil'. Haga clic y ver&aacute allí sus datos para actualizarlos.
								</p>
							</div>
						</div>
						<div class="col-xs-12 blog-list">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<h4><a href="blog-detail.html"><i class="fa fa-check-square-o"></i> ¿Cómo puedo calificar los servicios que compro?</a></h4>
		                        <p>
									Para calificar los servicios que ha comprado, Viagging ofrece un medio que permite comunicar su experiencia con el producto. Solo debe dirigirse al producto y en la parte inferior izquierda clic en la pestaña 'Calificación'. En este módulo puede ver las demás opiniones.
								</p>
							</div>
						</div>
                    </div>
<!--                     <div class="text-center"> -->
<!-- 			        	<ul class="pagination catalogue-pagination"> -->
<!-- 							<li class="disabled"><a>First</a></li> -->
<!-- 							<li class="disabled"><a>Prev</a></li> -->
<!-- 							<li class="active"><a href="#">1</a></li> -->
<!-- 							<li><a href="#">2</a></li> -->
<!-- 							<li><a href="#">3</a></li> -->
<!-- 							<li><a href="#">4</a></li> -->
<!-- 							<li><a href="#">Next</a></li> -->
<!-- 							<li><a href="#">Last</a></li> -->
<!-- 						</ul> -->
<!-- 					</div> -->

	            </div>
        	</div>
        	<!-- End FAQ -->
        </div>
	</div>