    <div class="container main-container">
        <div class="row">

        	<div class="clearfix visible-sm"></div>

			<!-- Order list -->
        	<div class="col-lg-12 col-md-12 col-sm-12">
        		<div class="col-lg-12 col-sm-12">
            		<span class="title"><i class="fa fa-cart-plus"></i>  LISTA DE COMPRAS</span>
            	</div>
	            <div class="col-lg-12 col-sm-12 hero-feature">
                    
	            <div class="table-responsive">
                        <table class="table table-bordered tbl-cart">
                            <thead>
                                <tr>
                                    <td><i class="fa fa-star"></i> Producto</td>
                                    <td><i class="fa fa-money"></i> Precio</td>
                                    <td><i class="fa fa-calendar"></i> Fecha</td>
                                    <td><i class="fa fa-check-circle-o"></i> Estado</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Plan dos noches hotel</td>
                                    <td>$300.000</td>
                                    <td>22 de Junio de 2014</td>
                                    <td><span class="label label-success">APROBADO</span></td>
                                </tr>
                                <tr>
                                    <td>Plan tres noches hotel</td>
                                    <td>$400.000</td>
                                    <td>22 de Junio de 2014</td>
                                    <td><span class="label label-warning">PENDIENTE</span></td>
                                </tr>
                                <tr>
                                    <td>Plan cuatro noches hotel</td>
                                    <td>$500.000</td>
                                    <td>22 de Junio de 2014</td>
                                    <td><span class="label label-danger">DECLINADO</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
	            </div>
        	</div>
        	<!-- End order list -->
        </div>
	</div>